 .contain {
   width: 70%;
   margin-left: 15%;
   height: 90vh;
   background-image: url("https://res.cloudinary.com/erezfriemagor/image/upload/v1638130657/pexels-mudassir-ali-2680270.jpg");
   display: flex;
   color: white;
    }
    
    .navbar {
      margin-left: 15%; 
      width: 70%; 
    }
    
    .erez_avatar {
      width: 80%;
    }
    
    .erez_avatar img {
      border-radius: 50%;
      height: 250px;
      width: 250px;
      display: inline-block;
    }
    
    h1,
    h4 {
        color: white;
    }
    
    .erez {
     display: flex;
     justify-content: center;
      padding-top: 4%;
      border-bottom:  solid 0.01px gray;
    }
    
    .side_bar {
      width: 30%;
      border-right: solid 0.01px gray;
      height: 100%;
    
    }

    .navbar-nav  {
      width: 100%;
      justify-content: space-between;
    }  
   
    .links {
      display: flex;
    }

    .erez_avatar {
        animation: fadeIn 5s;
        -webkit-animation: fadeIn 5s;
        -moz-animation: fadeIn 5s;
        -o-animation: fadeIn 5s;
        -ms-animation: fadeIn 5s;
      }

      .content {
          color: white;
      }
      
      @keyframes slidein {
        from {
          margin-left: 100%;
          width: 200%;
        }
      
        to {
          margin-left: 0%;
          width: 100%;
        }
      }

    .icons {
        display: flex;
        justify-content: center;
    }

    .icons a {
        color: white;
    }

    .bottom_bar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 30%;
    }

    .content {
        margin-left:5%;
        margin-top: 2%;
        display: flex;
        justify-content: center;
        width: 60%;
        height: 80%;
    }

    #projects_content {
        margin-left:5%;
        margin-top: 2%;
        display: flex;
        justify-content: center;
        width: 60%;
        height: 80%;
    }

    @keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }
      
      @-moz-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }
      
      @-webkit-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }
      
      @-o-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }
      
      @-ms-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }



    .animation {
        color: white;
        animation: marquee 3s linear infinite;
    }

    .ruby_developer,
    .java_script,
    .react,
    .redux {
        display: none;
    }
  

    @keyframes marquee {
        from {transform: translateX(-60%); }
        to {transform: translateX(60%); }
      }

    
  .card {
    border-radius: 15px;
    border:2px solid red;
    width: 75px;
    height: 100px;
    background-color: white;
    font-size: 12px;
    margin-left: 1%;
    margin-top: 4%;
  }

  .card img {
    width: 100%;
    height: 70%;

}

.card_top {
    color: black;
    display: flex;
    padding-top: 7%;
    justify-content: center;
}

.languages {
    display: flex;
    width: 160%;
    justify-content: center;
    margin-bottom: -3%;
}

.row {
    width: 120%;
}

.libraries {
    margin-left: 19.9%;
    margin-top: -3%;
    
}

.frameworks {
    margin-top: -3%;
    margin-left: 30%;
}

footer {
    width: 70%;
    margin-left: 15%;
}

#projects_content {
    display: none;
    color: white;
    animation-duration: 1s;
    animation-name: slidein;
}

.projects_heading {
    margin-top: 10%;
    display: flex;
    justify-content: center;
}

.item_height {
    height: 50vh !important;
}

#skills {
    animation-duration: 1s;
    animation-name: slidein;
}

.card_mobile {
    display: none;
}

.cards_mobile {
    display: none;
}

    @media screen and (max-width: 768px) {
        .side_bar {
            width: 90%;
            border: none;
        }

        .contain {
            display: block;
            height: 90vh;
            margin-left: 5vw;
            width: 90vw;
            max-height: 120vh;

        }

        .content
         {
            display: none;
        }

        footer {
            position: fixed;
            bottom: 0;
            font-size: 10px;
        }

        h1 {
            font-size: 17px;
        }

        h4 {
            font-size: 14px;
            
        }

        .center {
            display: block !important;
        }

        .links {
            display: block;
        }

        h2 {
            font-size: 15px;
        }

        #projects_content {
            display: none;
        }

        .skills {
            display: none;
        }

        .item_height {
            height: 30vh !important;
        }

        .card_mobile {
            display: block;
        }

        .card {
            border-radius: 15px;
            border:2px solid red;
            background-color: white;
            height: 78px;
            margin-left: 2%;
          }

          .card img {
            width: 100%;
            height: 70%;
        
        }

        .row {
            margin-left: 0%;
            width: 100%;
            display: flex;
            justify-content: center;
        }

        .navbar {
            margin-left: 5vw;
            width: 90vw;

        }

        footer {
            margin-left: 5vw;
            width: 90vh;
        }

        .cards_mobile {
            display: none;
        }

    }



